/* .App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.EditorSection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 50px;
}

.Toolbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 5%;
  padding: 10px;
}

.Toolbar button {
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 8px; /* Increased margin to create a gap */
  width: 100%;
  border-radius: 4px;
}

.Toolbar button:last-child {
  margin-bottom: 0;
}

.Toolbar button:hover {
  background-color: #e0e0e0;
}

.EditorContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 380px;
  background-color: #fff;
  padding: 10px;
  border: 2px solid #ccc; 
  margin-inline: 5px;
}

.Content {
  margin-top: 20px;
  width: 600px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f2f2f2;
  color: #333;
}

.Content h2 {
  margin-top: 0;
}